.info-modal {
    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}